script(src='vendor/jquery/dist/jquery.js')
script(src='vendor/lodash/lodash.js')
script(src='vendor/immutable/dist/immutable.js')
script(src='vendor/flux/dist/Flux.js')
script(src='vendor/react/react-with-addons.js')
script(src='vendor/react-router/build/umd/ReactRouter.js')
